:root {
  font-size: 62.5%;
  font-family: system-ui, 'Roboto', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --skella-white: #eeeeee;
  
  --main-color: #eeeeee;
  --secondary-color: black;
  --skella-blue: blue;
  --skella-grey: grey;
  --skella-white: #eeeeee;
  --skella-light-blue: #a8cbea;
  --skella-medium-blue: #003366;
  --skella-dark-blue: #00142d;
  --skella-light-green: #E9F5E8;
  --skella-green: green;
  --skella-dark-green: #2E5E3E;
  --skella-brown: #5D4037;
  --skella-beige: #F5E9E2;
}

body {
  margin: 0;
  background-color: var(--skella-white);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

a {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

/*

Suggest media query break points

Extra small (phones)
@media (max-width: 480px) { ... }

Small (phones to small tablets)
@media (min-width: 481px) and (max-width: 768px) { ... }

Medium (tablets to small laptops)
@media (min-width: 769px) and (max-width: 1024px) { ... }

Large (laptops/desktops)
@media (min-width: 1025px) and (max-width: 1440px) { ... }

Extra large (big desktops, ultrawide)
@media (min-width: 1441px) { ... }




orr


.section { ... }

@media (min-width: 601px) { ... }

@media (min-width: 1201px) { ... }

@media (min-width: 1921px) { ... }

*/